# Ignore everything by default, because we sometimes have stuff laying around.  Then include everything we need.
*

!/.yarn
!/.yarnrc.yml
!/package.json
!/yarn.lock

!/backend/bin
!/backend/migrations
!/backend/package.json
!/backend/resources
!/backend/src

!/app/.browserslistrc
!/app/.eslintrc.cjs
!/app/babel.config.cjs
!/app/package.json
!/app/public
!/app/src
!/app/vue.config.js

!/docker/andeolunch.conf
