/.idea
/.vscode
/node_modules

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/*
!/.yarn/patches
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions
/.pnp.*

/app/.env
/app/cypress.env.json
/app/dist
/app/node_modules

/backend/andeolunch.db
/backend/config.json
/backend/node_modules

/cypress/videos
/cypress/screenshots

/docker/*.secret
/docker/data
