// Since we disable the color pack, add back the only handful of colors we actually need

.green--text {
    color: #4caf50 !important;
    caret-color: #4caf50 !important;
}

.red--text {
    color: #f44336 !important;
    caret-color: #f44336 !important;
}

.gray {
    background-color: #9e9e9e !important;
    border-color: #9e9e9e !important;
}

.v-btn-toggle.full-width {
    display: flex;
    width: 100%;

    .v-btn {
        flex: 1 1 auto;
    }
}

.theme--dark {
    // v-banner's default background is transparent, which is ugly on dark themes.
    // See https://github.com/vuetifyjs/vuetify/issues/12015
    &.v-banner.v-sheet {
        background: #1e1e1e !important;
    }

    // v-overlay's background looks too much like the regular background, making dialogs not stand out.  Also note
    // that v-overlay is always in dark mode, even on the light theme.  See https://github.com/vuetifyjs/vuetify/issues/13435
    &.v-application {
        .v-overlay--active {
            .v-overlay__scrim {
                background: #101010 !important;
                opacity: 0.65 !important;
            }
        }
    }

    // For unknown reasons lists in dark mode have a non-default background, but in light mode it's default.
    &.v-list.v-sheet:not(.v-select-list) {
        // The :active and :focus colors are not adjusted accordingly, since we plan to move to Vuetify 3
        // as soon as possible.
        background: transparent;
    }

    // Same issue here
    &.v-data-table {
        background: transparent !important;
    }
}

.v-app-bar.theme--dark {
    background: $lunch-blue !important;
}

.v-btn {
    box-shadow: none !important;
}
