// This file is automatically loaded by vuetify-loader
// See https://vuetifyjs.com/en/features/sass-variables/

// Removing the color pack saves around 49 KB of production CSS.  However, this removes all
// color palette CSS classes (e.g. "purple--text text--lighten-3")
$color-pack: false;

$andeo-blue: #3e93d0;
$andeo-black: #1e1617;
